:root {
    --background: #111;
    --border: 1px solid #373737;
    --blue: #99eae5;
    --red: #f5190c;
    --yellow: #e6cf8d;
    --mono: "Fira Code", "Source Code Pro", "Fira Mono", "SF Mono", monospace;
    --sans: "Inter", "Gill Sans", Helvetica, Roboto, -apple-system,
      BlinkMacSystemFont, "Segoe UI", Arial, sans-serif;
    background-color: var(--background);
  
    --text-secondary: #828282;
  }