:root {
  --backgroud: #111111;
  --border: 1px solid #373737;
  --blue: #99eae5;
  --red: #f5190c;
  --yellow: #e6cf8d;
  --mono: "Fira Code", "Source Code Pro", "Fira Mono", monospace;
  --sans: "Inter", "Gill Sans", "Helvetica", "Arial", sans-serif;
  background-color: var(--backgroud);

  --text-secondary: #828282;
}

body {
  font-family: var(--sans);
  color: white;
}

h1 {
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
  //   letter-spacing: 0.025em;
}

button {
  cursor: pointer;
  border: 0;
  padding: 12px 16px;
  background: white;
  font-weight: 700;
  font-size: 1em;
  text-transform: uppercase;
}
::selection {
    color: black;
    background: rgba(153, 234, 229, .9);

}
code {
    font-family: var(--mono);
}

.container {
  padding: 2em;
}

.title {
  display: block;
  font-size: 14px;
  font-weight: 600;
  line-height: 100%;
  text-transform: uppercase;
  color: var(--text-secondary);
}

.data {
  font-family: var(--mono);
}

.id {
    padding: 8px 12px;
    text-align: center;
    font-weight: 800;
    font-weight: 800;
    border: 1px solid white;
    border-radius: 8px;
  }